*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* font-weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;

  /* font-size */
  --fs-s: 16px;
  --fs-m: 18px;
  --fs-l: 22px;

  /* color */
  --clr-b500: hsl(215, 51%, 70%);
  --clr-c400: hsl(178, 100%, 50%);
  --clr-b950: hsl(217, 54%, 11%);
  --clr-b900: hsl(216, 50%, 16%);
  --clr-b800: hsl(215, 32%, 27%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-attr: hsl(228, 45%, 44%);
}

/* los estilos van en la hoja de estilos (stylesheet)  */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
  color: var(--clr-b500);
  position: absolute;
  bottom: 0;
}
.attribution a {
  color: var(--clr-white);
}

/*  */
body {
  background: var(--clr-b950);
  font-family: "Outfit", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft-card {
  width: 350px;
  background: var(--clr-b900);
  padding: 24px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.nft-card__hero-img {
  width: 100%; /* 100% del ancho del contenedor */
  height: auto; /* to prevent deformations */
  display: block; /* to force it to use all available space, removing the text baseline (the descender space for q p j y) */
  border-radius: 8px;
}

.nft-card__content h2 {
  color: var(--clr-white);
  font-size: var(--fs-l);
  font-weight: var(--fw-bold);
  letter-spacing: 0;
  line-height: 125%;
  margin: 24px 0 16px 0;
}

.nft-card__content p {
  color: var(--clr-b500);
  font-size: var(--fs-m);
  font-weight: var(--fw-light);
  letter-spacing: 0;
  line-height: 145%;
  margin-bottom: 24px;
}

.nft-card__metadata {
  font-size: var(--fs-s);
  display: flex;
  /* it pushes data and time elements against the card padding */
  justify-content: space-between;
}

.nft-card__metadata data,
time {
  display: inline-flex;
  /* it removes normal gravity within  line, align-items helps me to center the text and the img across the same axis */
  align-items: center;
  gap: 8px;
}

.nft-card__price {
  color: var(--clr-c400);
  font-weight: var(--fw-bold);
  /* background: red; */
}

.nft-card__countdown {
  color: var(--clr-b500);
  font-weight: var(--fw-regular);
  /* background: white; */
}

.nft-card__footer {
  margin: 24px 0 6px 0;
  border-top: 1px solid var(--clr-b800);
  padding-top: 24px;
  display: inline-flex;
  align-items: center;
}

.nft-card__avatar {
  border: 1px solid var(--clr-white);
  border-radius: 50%;
  width: 33px;
  margin-right: 16px;
}

.nft-card__creator {
  color: var(--clr-b500);
}

.nft-card__creator a {
  text-decoration: none;
  color: var(--clr-white);
}
